*.DS_Store
DRFCSharp/DRFCSharp.sln
DRFCSharp/DRFCSharp.userprefs
DRFCSharp/DRFCSharp/DRFCSharp.sln
DRFCSharp/DRFCSharp/DRFCSharp.userprefs
DRFCSharp/DRFCSharp/DRFCSharp.csproj
DRFCSharp/DRFCSharp/DRFCSharp.pidb
DRFCSharp/DRFCSharp/bin/
DRFCSharp/DRFCSharp/test-results
DRFCSharp/test-results
DataLabeler/.project
DataLabeler/.pydevproject
Dataset/tmp.jpg
predicted*.txt
