.12pt  {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; text-decoration: none}
.12ptBoldBlack {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
.14pt  {font-family: Arial, Helvetica, sans-serif; font-size: 14pt; text-decoration: none}
.14pxWhiteBold {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold}
.16pxSmallCaps { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; font-variant: small-caps; color: #336699; text-decoration: none}
.16pxSmallCapsBlue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; font-variant: small-caps; color: #000099; text-decoration: none}
.xxLargeBlue {
	font-style: italic;
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
}
.blue {color: #000099}
.brightblue18px {color: #0033cc; font-size:18px; font-weight:bold;font-style:italic;}
.brightred15px {color: #FF0000; font-size:15px; font-weight:bold }
.brightred18px {color: #FF0000; font-size:18px; font-weight:bold }

.BusHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #993300; text-decoration: none}
.BusSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #993300}
.BusSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #993300}

.CitHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FE9603; text-decoration: none}
.CitSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FF6600}
.CitSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FF6600}
.content {position: relative; left: 5px}

.darkbluetext14px {color: #000099; font-size:14px; font-weight:bold ;}
.darkblue16px {color: #000099; font-size:16px; font-weight:bold ; font-style:italic;}

.deadLink { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}


a.deadLink:link{ font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}
a.deadLink:hover { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}
a.deadLink:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}
a.deadLink:active{ font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}



.deadLinksmall { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666699; text-decoration: none}


.footer{text-decoration: underline; color: #000000}
.frame {border:2px; border-color: #336699; border-style:groove}


.GovHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003399; text-decoration: none}
.GovSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #003399}
.GovSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #003399}

.green{color: #006600}

.headline {line-height: normal; font-weight: bold; color: #000000; text-decoration: none}

.itemBorder {border: 1px solid black}

.LeiHeadings {font-size: 12pt; font-weight: bold; color: #B55194; text-decoration: none}
.LeiSubHeadings {font-size: 10pt; font-weight: bold; color: #B55194}
.LeiSectionHeadings {font-size: 10pt; color: #B55194}

.more { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; font-variant: small-caps; text-decoration: none; color: #666699}

.more2 {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none}


.NeutralHeadings { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #567C8E; margin-top: 21px; background-position: 50px}
.NeutralSubHeadings { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E}
.NeutralSectionHeadings { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #567C8E}

.orange{color: #FF6600}

.red {color: #990000; text-decoration: none}
.redBold {color: #990000 ; font-weight: bold; text-decoration: none}

.smallertext {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: normal}
.smallertextBold {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold}
.white {font-weight: bold; color: #FFFFFF; text-decoration: none}
.whitetext {font-size: 8pt; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}
.xxLargeBlue {
	font-style: italic;
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	color: #003399;
}

.black9pt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
}


TD .EndStyle_DontUse A:visited:hover {font-weight: normal}