A {text-decoration: underline; color: #0000CC}
A:hover {color: #0000CC; background: #FFFFCC; text-decoration: underline}
A:visited { color: #993366; text-decoration: underline}
br.linespace {margin-left: 6pt; line-height: .75; margin-top: 0px; margin-bottom: 8px; 	font-size: 9pt}			
p {font-family: Arial, Helvetica, sans-serif; font-size: 10pt}
p.leftmargin {margin-left: 6pt;	line-height: 1.25; margin-top: 0px; margin-bottom: 8px; 	font-size: 9pt; font-weight: bold}
td {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; text-decoration: none}


.12ptBoldBlack A{font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
.12ptBoldBlack A:Hover{font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: underline}
.12ptBoldBlack A:Visited{font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
.12ptBoldBlack A:Visited:Hover{font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: underline}
TD.12ptBoldBlack {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
TD.12ptBoldBlack A {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
TD.12ptBoldBlack A:hover {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
TD.12ptBoldBlack A:visited {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
TD.12ptBoldBlack A:visited:hover {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}

.12ptBoldWhite {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #FFFFFF; font-weight: bold; text-decoration: none}
TD.12ptBoldWhite {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #FFFFFF; font-weight: bold; text-decoration: none}

.CCMHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #0366A7}
.CCMHeadings10pt {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #0366A7}

.AppHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #567C8E; margin-top: 21px; background-position: 50px}
.AppSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E}
.AppSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #567C8E}
.AppSubHeadingsLink {font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #567C8E ; text-decoration: underline}

.AppLinks {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
.AppLinks A {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
.AppLinks A:hover {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
.AppLinks A:visited {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
.AppLinks A:visited:hover {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}

TD.AppLinks {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
TD.AppLinks A {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
TD.AppLinks A:hover {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
TD.AppLinks A:visited {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}
TD.AppLinks A:visited:hover {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E ; text-decoration: none}

.bannerNav {font-family: Arial, Helvetica, sans-serif; font-size: 9pt}

.blackText {  color: #000000}

.blueBox { background-color: #E4EAF1}
.blueSmallerText { color: #486dad ; font-size: 11px; font-family: Arial, Helvetica, sans-serif}
.blueText14pt {color: #486dad; font-size: 14pt}
.bluewhite {  color: #FFFFFF; background-color: #000066}

.blurb {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; text-decoration: none}

.bold {font-weight: bold}
					
TD.busiheader1 {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #7D0F00 }
TD.busiheader1 A {color: #FFFFFF; text-decoration: none}
TD.busiheader1 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.busiheader1 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.busiheader1 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

TD.busiheader2 {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #7D0F00 }
TD.busiheader2 A {text-decoration: none; color: #FFFFFF}
TD.busiheader2 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.busiheader2 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.busiheader2 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}


TD.citiheader1 {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #FE9603 }
TD.citiheader1 A {color: #FFFFFF; text-decoration: none}
TD.citiheader1 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.citiheader1 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.citiheader1 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

TD.citiheader2 {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #FE9603 }
TD.citiheader2 A {text-decoration: none; color: #FFFFFF}
TD.citiheader2 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.citiheader2 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.citiheader2 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}


TD.content {position: relative; left: 5px}

TD.cultheader1 {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #B85494 }
TD.cultheader1 A {color: #FFFFFF; text-decoration: none}
TD.cultheader1 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.cultheader1 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.cultheader1 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

TD.cultheader2 {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #B85494 }
TD.cultheader2 A {text-decoration: none; color: #FFFFFF}
TD.cultheader2 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.cultheader2 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.cultheader2 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}			

.dlcnews {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-variant: small-caps;
	color: #567c8e;
	text-decoration: none
}

.dtsHeadings {font-weight: bold; color: 4a6dad}

.flipper {background: #567c8e}			
TD.flipper {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: none; background: #567c8e }
TD.flipper A {text-decoration: none; color: #FFFFFF; font-size: 9pt; font-weight: bold}
TD.flipper A:hover {color: #FFFFFF; text-decoration: underline; background-color: #567c8e; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt}
TD.flipper A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt}
TD.flipper A:visited:hover {color: #FFFFFF; text-decoration: underline; background: #567c8e; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 9pt}

TD.footer {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal;color: #00000; text-decoration: none}
TD.footer A {text-decoration: underline; color: #000000}
TD.footer A:hover {color: #000000; text-decoration: underline; background: #FFFFCC; line-height: normal; font-size: 8pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.footer A:visited {text-decoration: underline; color: #000000}
TD.footer A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; line-height: normal; font-size: 8pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
.footer {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal;color: #00000; text-decoration: none}
.footer A {text-decoration: underline; color: #000000}
.footer A:hover {color: #000000; text-decoration: underline; background: #FFFFCC; line-height: normal; font-size: 8pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
.footer A:visited {text-decoration: underline; color: #000000}
.footer A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; line-height: normal; font-size: 8pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal}



TD.GISmenu {}
TD.GISmenu A {}
TD.GISmenu A:hover {}
TD.GISmenu A:visited {}
TD.GISmenu A:visited:hover {}

TD.gismenu2 {background-color: #EFEFEF; color: #336699; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
TD.gismenu2 A {color: #336699; text-decoration: none}
TD.gismenu2 A:hover {color: #336699; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
TD.gismenu2 A:visited {color: #336699; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
TD.gismenu2 A:visited:hover {color: #336699; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
TD.GISSubHeading {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #336699}
.GISAppHeading {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #336699}
.GISHomeHeading {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #336699}
TD.GIStable {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal}

.GovHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003399; text-decoration: none }
.GovSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #003399}

.GovLinks {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #003399 ; text-decoration: none}
.GovSectionLinks {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #003399 ; text-decoration: none}
.GovSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #003399}

TD.govtheader1 {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #23317C }
TD.govtheader1 A {color: #FFFFFF; text-decoration: none}
TD.govtheader1 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.govtheader1 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.govtheader1 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

TD.govtheader2 {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #23317C }
TD.govtheader2 A {text-decoration: none; color: #FFFFFF}
TD.govtheader2 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.govtheader2 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.govtheader2 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

.grayBackground1 {  background-color: #EBEBEB}
.grayBackground2 { background-color: #F1F1F1}
.grayBackground3 { background-color: #EFEFEF}
TD.grayBackground3sm {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; background-color: #EFEFEF}
.grayText {  color: #f1f1f1}
.grayBox {  background-color: #F1F1F1}
.grayBox2 { background-color: #C3C3C3}
.graywhite {  color: #333333; background-color: #999999; font-weight: bold}

.frame {border:2px; border-color: #336699; border-style:groove}

.headline A {text-decoration: none; color: #000000}
.headline A:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-weight: bold}
.headline A:visited {color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
.headline A:visited:hover {color: #000000; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
TD.headline {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; font-weight: bold; color: #000000; text-decoration: none}
TD.headline A {text-decoration: none; color: #000000}
TD.headline A:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-weight: bold}
TD.headline A:visited {color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
TD.headline A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-weight: bold}


TD.homeheader1 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #567c8e }
TD.homeheader1 A {color: #FFFFFF; text-decoration: none}
TD.homeheader1 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.homeheader1 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.homeheader1 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

TD.homeheader2 {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #567c8e }
TD.homeheader2 A {text-decoration: none; color: #FFFFFF}
TD.homeheader2 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.homeheader2 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.homeheader2 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}



.homeHelp {font-variant: small-caps; text-decoration: none; font-weight: bold}


.itemText 
	{ text-decoration: none; 
	color: #000000; 
	font: 12px Arial, Helvetica 
}
.itemText A {
	text-decoration: none;
	color: #000000;
	font: 12px Arial, Helvetica
}
.itemText A:visited {
	text-decoration: none;
	color: #00FF33;
	font-family: Arial, Helvetica;
	font-size: 12px;
}
.itemText A:hover {
	text-decoration: none;
	color: #000000;
	font: 12px Arial, Helvetica
}
.itemText A:visited:hover {
	text-decoration: none;
	color: #000000;
	font: 12px Arial, Helvetica
}



.itemHover { text-decoration: none; color: #FFFF99; font: 12px Arial, Helvetica }


.larger {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold}


	
.linkPortalPage {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; text-decoration: none }

TD.lnav {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 1.6; font-weight: bold; color: #00000; text-decoration: none; background: #b2c1c6; text-align: left}
TD.lnav A {text-decoration: none; color: #000000}
TD.lnav A:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
TD.lnav A:visited {color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
TD.lnav A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: bold}

TD.lnavNew {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 1.6;  color: #00000; text-decoration: none; background: #b2c1c6; text-align: left}
TD.lnavNew A {text-decoration: none; color: #000000}
TD.lnavNew A:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; }
TD.lnavNew A:visited {color: #000000; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
TD.lnavNew A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; }


TD.modify {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #00000; text-decoration: none; background: #b2c1c6 }

.more A{font-size: 8pt; font-weight: bold; font-variant: small-caps; text-decoration: none; background: #FFFFCC; color: #666699}
.more A:Visited{font-size: 8pt; font-weight: bold; font-variant: small-caps; text-decoration: none; background: #FFFFCC; color: #666699}
.more A:Hover{font-size: 8pt; font-weight: bold; font-variant: small-caps; text-decoration: underline; background: #FFFFCC; color: #666699}
.more A:Visited:Hover{font-size: 8pt; font-weight: bold; font-variant: small-caps; text-decoration: underline; background: #FFFFCC; color: #666699}

.more2 A{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none}
.more2 A:Visited{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none}
.more2 A:Hover{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666666; text-decoration: underline}
.more2 A:Visited:Hover{font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666666; text-decoration: underline}


.navBar {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #000000; text-decoration: none; text-align: left}
.navBarBold {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #000000; text-decoration: none ; left: 5pt; clip:  rect(   ); text-align: left}
td {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; text-decoration: none}
p {font-family: Arial, Helvetica, sans-serif; font-size: 10pt}

TD.navBarDTS {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: normal; font-weight: normal; color: #FFFFFF; text-decoration: none; background: #4a6dad}
TD.navBarDTS A {text-decoration: none; color: #FFFFFF}
TD.navBarDTS A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.navBarDTS A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.navBarDTS A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

.blueText {text-decoration: none; color: #486dad}


TD.neutralheader1 {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: normal; color: #000000; text-decoration: none; background: #B2C1C6 }
TD.neutralheader1 A {color: #000000; text-decoration: none}
TD.neutralheader1 A:hover {color: #000000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.neutralheader1 A:visited {color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-weight: normal}
TD.neutralheader1 A:visited:hover {color: #000000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal}

.newstyle {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; font-variant: small-caps; color: #336699; text-decoration: none}

.noUnderline {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; color: #000000; text-decoration: none}


.pageHeader {color: #486dad; background-color: #F1F1F1; font-weight: bold}

.ProgramHeading {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #567C8E; margin-top: 50px; background-position: 50px }
.ProgramNavigation {font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; font-weight: bold; text-decoration: none; color: #567c8e}
.ProgramNavigationOn {font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; font-weight: bold; text-decoration: none; color: #000000}

.pt12bold {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #FFFFFF; font-weight: bold }
.pt12boldblack {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold }


.red A{color: #990000; text-decoration: none}
.red A:Visited{color: #990000; text-decoration: none}
.red A:Hover{color: #990000; text-decoration: underline}
.red A:Visited:Hover{color: #990000; text-decoration: underline}

.redBold A{color: #990000; text-decoration: none ; font-weight: bold}
.redBold A:Visited{color: #990000; text-decoration: none ; font-weight: bold}
.redBold A:Hover{color: #990000; text-decoration: underline ; font-weight: bold}
.redBold A:Visited:Hover{color: #990000; text-decoration: underline ; font-weight: bold}
TD.redBold {color: #990000; text-decoration: none ; font-weight: bold}
TD.redBold A{color: #990000; text-decoration: none ; font-weight: bold}
TD.redBold A:Visited{color: #990000; text-decoration: none ; font-weight: bold}
TD.redBold A:Hover{color: #990000; text-decoration: underline ; font-weight: bold}
TD.redBold A:Visited:Hover{color: #990000; text-decoration: underline ; font-weight: bold}

.redSmallerText {color: #990000; font-size: 11px; font-family: Arial, Helvetica, sans-serif}

.seal {position: relative; top: 0px; right: 10px}

.searchBox {font-size: 9px; line-height: normal; text-decoration: none}
TD.searchform {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: normal; font-weight: bold; color: #00000; text-decoration: none; background: #b2c1c6}

.spacer{text-align: center}

TD.surveyLink A {color: #cc0000; text-decoration: underline: font-size: 11px}
TD.surveyLink A:hover {color: #cc0000; text-decoration: underline; background-color: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal font-size: 11px}
TD.surveyLink A:visited {color: #cc0000; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-weight: normal font-size: 11px}
TD.surveyLink A:visited:hover {color: #cc0000; text-decoration: underline; background: #FFFFCC; font-family: Arial, Helvetica, sans-serif; font-weight: normal font-size: 11px}


.text {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: normal}

.top {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; font-weight: bold}


TD.whitetext {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}

TD.wtext {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}



li {  }


.whiteBackground { background-color: #FFFFFF}

.12ptBoldBlack {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #333333; font-weight: bold; text-decoration: none}
.14pxWhiteBold {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold}
.16pxSmallCaps { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; font-variant: small-caps; color: #336699; text-decoration: none}

.BusHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #993300; text-decoration: none}
.BusSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #993300}
.BusSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #993300}

.CitHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FE9603; text-decoration: none}
.CitSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FF6600}
.CitSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #FF6600}
.content {position: relative; left: 5px}

.deadLink { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}
.deadLink A { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}
.deadLink A:hover { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}
.deadLinkA:visited { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}
.deadLink A:visited:hover { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666699; text-decoration: none}

.deadLinksmall {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666699; text-decoration: none}
.deadLinksmall A {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666699; text-decoration: none}
.deadLinksmall A:hover {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666699; text-decoration: none}
.deadLinksmall A:visited {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666699; text-decoration: none}
.deadLinksmall A:visited:hover {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #666699; text-decoration: none}

.footer{text-decoration: underline; color: #000000}
.frame {border:2px; border-color: #336699; border-style:groove}

.GovHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003399; text-decoration: none}
.GovSubHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #003399}
.GovSectionHeadings {font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #003399}

.headline {line-height: normal; font-weight: bold; color: #000000; text-decoration: none}

.itemBorder {border: 1px solid black}

.LeiHeadings {font-size: 12pt; font-weight: bold; color: #B55194; text-decoration: none}
.LeiSubHeadings {font-size: 10pt; font-weight: bold; color: #B55194}
.LeiSectionHeadings {font-size: 10pt; color: #B55194}

.more { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; font-variant: small-caps; text-decoration: none; color: #666699}

.more2 {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; color: #666666; text-decoration: none}


.NeutralHeadings { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #567C8E; margin-top: 21px; background-position: 50px}
.NeutralSubHeadings { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #567C8E}
.NeutralSectionHeadings { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #567C8E}

.red {color: #990000; text-decoration: none}
.redBold {color: #990000 ; font-weight: bold; text-decoration: none}

.smallertext {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: normal}
.smallertext A {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: normal}
.smallertext A:hover {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: normal}
.smallertext A:visited {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: normal}
.smallertext A:visited:hover {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: normal}
.smallertextBold {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold}
.smallertextBold A {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold}
.smallertextBold A:hover {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold}
.smallertextBold A:visited {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold}
.smallertextBold A:visited:hover {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold}

.whitetext {font-size: 8pt; line-height: normal; font-weight: bold; color: #FFFFFF; text-decoration: none}

.PositionRightNav {
	top: 163px;
	left:640px;
	position: absolute;
	width: 113px;
}

.PositionHeading {
	top: 145px;
	left:153px;
	position: absolute;
	width: 480px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #567c8e;
	font-weight: bold;
}

.PositionContent {
	top: 180px;
	left:153px;
	bottom: 10px;
	position: absolute;
	width: 485px;
}

/* for I Want To change only - start */
.iwantto {
	font-size: 16px;
	color: #0000FF;
	font-weight: bolder;
	line-height: 2;
}

TD .EndStyle_DontUse A:visited:hover {font-weight: normal}
